cfgv==3.4.0 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0"
distlib==0.3.8 ; python_version >= "3.12" and python_version < "4.0"
filelock==3.13.1 ; python_version >= "3.12" and python_version < "4.0"
identify==2.5.35 ; python_version >= "3.12" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
mypy==1.14.1 ; python_version >= "3.12" and python_version < "4.0"
nodeenv==1.8.0 ; python_version >= "3.12" and python_version < "4.0"
platformdirs==4.2.0 ; python_version >= "3.12" and python_version < "4.0"
pre-commit==3.6.2 ; python_version >= "3.12" and python_version < "4.0"
pretty-errors==1.2.25 ; python_version >= "3.12" and python_version < "4.0"
pygments==2.19.1 ; python_version >= "3.12" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.12" and python_version < "4.0"
rich==13.7.1 ; python_version >= "3.12" and python_version < "4.0"
ruff==0.3.3 ; python_version >= "3.12" and python_version < "4.0"
setuptools==69.2.0 ; python_version >= "3.12" and python_version < "4.0"
tomlkit==0.12.4 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.10.0 ; python_version >= "3.12" and python_version < "4.0"
virtualenv==20.28.1 ; python_version >= "3.12" and python_version < "4.0"
